li {
	list-style:none;
}
a:link, a:visited {
	outline:none;
	text-decoration:none;
}
#wrap {
	width:100%;
	position:fixed;
	top:0;
}
#topBar {
	color:#7A7A7A;
	height:28px;
	background:#131623;
	overflow:hidden;
	font:12px/28px Arial;
	text-align:center;
}
#topBar a {
	color:#FFF;
	background:#7A7A7A;
	padding:2px 5px;
	border-radius:10px;
}
#nav {
	height:50px;
	overflow:hidden;
/*	border-top:1px solid #999;
    border-bottom::1px solid #666;*/
/*	background:#000 url(../images/2011122131216590.png) repeat-x;*/
	float:left;
	width:100%;
}


#nav ul, #nav ul li {
	float:left;
}
#nav ul li a {
	float:left;
	color:#198ECA;
	height:70px;
	font-size:14px;
	padding:0 20px;
    display: inline-block;
    line-height: 70px;
}
#nav ul li a:hover {
    font-weight: bold;
    color: #198eca;
}
#nav ul li a.active {
    font-weight: bold;
    color: #198eca;
}
#nav.hide ul {
	display:none;
}
